services:
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    environment:
      DB_SQLITE_FILE: "/data/database.sqlite"
    volumes:
      - /home/markovivas/dockge/nginx/data:/data
      - /home/markovivas/dockge/nginx/letsencrypt:/etc/letsencrypt
    restart: unless-stopped